$minwidth: 320px;
$mw: 1620px;
$mwContainer: 1400px;
$md1: $mwContainer + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontfamily: "PT-Sans-regular";

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $mwContainer;
  margin: 0px auto;
  padding: 0 10px;
}

.main {
  flex: 1 0 auto;
}
